[project]
	description = SPDK fork of Intel(R) Multi-Buffer Crypto for IPSec
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jim Harris (jimharris)
[access "refs/for/refs/*"]
	read = group user/Jim Harris (jimharris)
	push = group user/Jim Harris (jimharris)
	label-Code-Review = -2..+2 group user/Jim Harris (jimharris)
	label-Verified = -1..+1 group user/Jim Harris (jimharris)
	rebase = group user/Jim Harris (jimharris)
	removeReviewer = group user/Jim Harris (jimharris)
	submit = group user/Jim Harris (jimharris)
[access "refs/heads/*"]
	read = group user/Jim Harris (jimharris)
	create = group user/Jim Harris (jimharris)
	push = +force group user/Jim Harris (jimharris)
	pushMerge = group user/Jim Harris (jimharris)
[access "refs/tags/*"]
	push = group user/Jim Harris (jimharris)
	push = +force group user/Jim Harris (jimharris)
