[project]
	description = SPDK fork of Intel(R) Multi-Buffer Crypto for IPSec
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group SPDK Maintainers
	label-Verified = -1..+1 group SPDK Bots
	editAssignee = group SPDK Leads
	editAssignee = group SPDK Maintainers
[access "refs/for/refs/*"]
	read = group SPDK Maintainers
	push = group SPDK Maintainers
	label-Code-Review = -2..+2 group SPDK Maintainers
	label-Verified = -1..+1 group SPDK Maintainers
	rebase = group SPDK Maintainers
	removeReviewer = group SPDK Maintainers
	submit = group SPDK Maintainers
	exclusiveGroupPermissions = editAssignee
	editAssignee = group SPDK Leads
	editAssignee = group SPDK Maintainers
[access "refs/heads/*"]
	read = group user/Jim Harris (jimharris)
	create = group user/Jim Harris (jimharris)
	push = +force group user/Jim Harris (jimharris)
	pushMerge = group user/Jim Harris (jimharris)
[access "refs/tags/*"]
	push = group user/Jim Harris (jimharris)
	push = +force group user/Jim Harris (jimharris)
[access "refs/for/*"]
	addPatchSet = group SPDK Developers
	addPatchSet = group SPDK Maintainers
